 .app {
     background-color: #EEEEEE
 }

.button-style {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.listCard-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}